/* html {
  overflow: hidden;
}

body {
  scroll-behavior: smooth;
  background: url("./assets/milky-way-background.jpg") #141618;
  background-size: cover;
  background-blend-mode: multiply;
} */

header {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 1.25s ease-in-out;

  /* background: url("./assets/galaxies-bg.jpg");
  background-size: cover; */
  text-shadow: 0 6px 30px #37303042;
}

header * {
  transition: all 0.8s ease-in-out;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg video {
    width: auto;
    height: 100%;
  }
}

header div.h-100 {
  min-height: 100vh;
}

#content {
  color: white;
  transition: all 0.8s;
  z-index: 100;
}

#content p {
  text-indent: 2rem;
}

.full {
  min-width: 100%;
  height: 100%;
}

#evo {
  padding-top: 4%;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

#arrow {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transform: translateY(15%);
  transition: 0.25s all;
}

#arrow span {
  display: inline-block;
}

#arrow>span:hover {
  transform: translateY(30%);
}

span {
  color: white;
}

a {
  font-size: 16pt;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.btn {
  background-color: transparent;
  border: 1px solid white;
  transition: 0.5s all;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.btn:hover {
  border: 2px solid white;
  color: white;
}

.btn:hover span {
  padding: 5px;
  padding-right: 25px;
}

.btn span:after {
  color: #fff;
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 12%;
  right: -20px;
  transition: 0.3s all;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.blockquote-footer {
  color: white;
}